<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="data-feed">
      <file>tests/TestFeedHandle.php</file>
      <file>tests/TestCurlFeedCache.php</file>
      <file>tests/TestDatabaseFeedStore.php</file>
      <file>tests/TestSimpleObjectQueryLanguage.php</file>
      <file>tests/TestTransientFeedCache.php</file>
    </testsuite>
  </testsuites>
</phpunit>