
.datafeed-admin-option-feeds {
    width:95%;
}

.datafeed-info {
    min-width: 50%;
}

.datafeed-info a {
    text-decoration: none;
}

span.datafeed-info-remove-item {
    font-weight: normal;
    float: right;
}

.datafeed-info dt {
    padding: 0.2em;
    font-weight: bold;
}

.datafeed-info-item {
    padding: 0.2em;
}

lh.datafeed-info-item {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.4em;
    padding-left: 0;
}

.datafeed-info-note-item {
    color: #c00;
}

.datafeed-info-editable-item:hover {
    background-color: #fff;
}

.datafeed-info-editable-item {
    cursor:pointer;
}